* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 150px;
}

h3 {
    margin-top: 50px;
    color: blue;
}

a, input, span, textarea {
    margin-top: unset;
    margin-bottom: unset;
    margin-right: unset;
    margin-left: unset;
}

#author-name, #read-more-link {
    font-style: italic;
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-top: unset;
    margin-bottom: unset;
}

.form-span {
    display: inline-block;
    width: 50px;
}